/* Reusable classes */
.flex { display: flex; }
.horizontal { flex-direction: row; }
.vertical { flex-direction: column; }
.center { align-items: center; justify-content: center; }
.start { justify-content: flex-start; }
.end { justify-content: flex-end; }
.space-evenly { justify-content: space-evenly; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }

/* Removing some css preset styling */
a { text-decoration: none; color: black; }
input { padding: 0; color: black; }
button { border: none; }
body { margin: 0; font-weight: 400; box-sizing: border-box; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }

/*--------- Global design ----------*/

body {
  background-color: black;
  color: white;

  width: 100%;
  max-height: 100vh;
  padding: 1rem 2rem;
}

h1, h2, h3 {
  margin: 0;
}

/*--------- Header ----------*/

.header-container {
  width: 100%;
}

.player-info-container {
  width: 100%;
  padding: 0 2rem;
}

/*--------- Room info area ----------*/

.room-image-container {
  height: 80vh;
  width: 100%;
  margin: auto;
  
  background-image: url(./imgs/zombies-2.jpg);
  background-position: center;
  background-size: cover;
}

.room-info {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*--------- Navigation area ----------*/

.nav-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  width: 90%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: auto;
}

.button {
  padding: 1rem 2rem;
  background: transparent;
  color: white;
  border: 2px solid white;
  text-transform: uppercase;
}

.button:hover {
  border-color: yellow;
}