/* Reusable classes */
.flex { display: flex; }
.horizontal { flex-direction: row; }
.vertical { flex-direction: column; }
.center { align-items: center; justify-content: center; }
.start { justify-content: flex-start; }
.end { justify-content: flex-end; }
.space-evenly { justify-content: space-evenly; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }

/* Removing some css preset styling */
a { text-decoration: none; color: black; }
input { padding: 0; color: black; }
button { border: none; }
body { margin: 0; font-weight: 400; box-sizing: border-box; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }

@font-face {
  font-family: "Bloc";
  src: url(./fonts/Bloc\ W01\ Regular.ttf);
}

/*--------- Global design ----------*/

body {
  background-color: black;
  color: white;

  width: 100%;
  max-height: 100vh;
  padding: 1rem 2rem;

  font-family: Bloc;
  letter-spacing: 1px;
}

.yellow-text {
  color: yellow;
}

.larger-text {
  font-size: 2rem;
}

h1, h2, h3 {
  margin: 0;
}

/*--------- Header ----------*/

.header-container {
  width: 100%;
}

.game-name-container {
  font-size: 4rem;
}

.player-info-container {
  width: 100%;
  padding: 0 2rem;
}

.player-name {
  font-size: 1rem;
}

/*--------- Room info area ----------*/

.room-image-container {
  height: 60vh;
  width: 100%;
  margin: auto;

  border: 3px solid white;
  border-radius: 10px;
}

.room-info {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 60%;
  width: 90%;
}

.info-text {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.name-input {
  background: transparent; 
  font-family: Bloc;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
  padding: 1rem 2rem;
  border-radius: 10px;
  letter-spacing: 2px;

}

/*--------- Navigation area ----------*/

.nav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  gap: 20px;
  width: 90%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: auto;
}

.button {
  padding: 1rem 2rem;
  background: transparent;
  color: white;
  border: 3px solid white;
  font-family: Bloc;
  font-size: 1.7rem;
  border-radius: 10px;
}

.button:hover {
  border-color: yellow;
}